body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

h6 {
	text-decoration-line: underline;
	font-weight: 900;
	}

/*-------------------NAVIGATION---------------------*/

#navigation {
	background-color: #2c3e50;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
   	border-bottom: 1px solid #fff;
    border-radius: 2px;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}

.navbar-toggler-icon {
	background: url("../img/icons/navBar.png");
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

/*-------------------SUPER SLIDES---------------------*/

/*.overlay{
	width: 100%;
	height:100%;
	position: absolute;
	z-index: 3;  Makes the layer 2nd level higher the level will show on top
	background-color: rgba(0, 0, 0, 0.4);
}*/
/*.slides-navigation {
	z-index: 6;
}*/
/*.slides-navigation .prev,
.slides-navigation .next {
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
}*/
/*.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}*/
/*.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}*/
/*.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}*/
/*.heading {
	color: white;
    text-shadow: 8px 2px 5px rgb(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 7px;
}*/

/*-------------------ABOUT---------------------*/

.container {
    max-width: 1140em;
    padding: 60px;
}
.main {
	font-size: 50px;
}

.sub {
	font-size: 27px;
}

.section {
	padding: 100px;
}

.about {
	padding: 50px;
}
.aboutImage {
	max-width: 100%;
}

.resumeButton {
	color: #2c3e50;
    padding: 20px 25px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #2c3e50;
    border-radius: 2px;
}

.resumeButton:hover {
	text-decoration: none;
	color: white;
	background-color: #2c3e50;
}

/*--------------SKILLS--------------------------*/

.skillsSection {
	background-color: #2c3e50;
	color: #fff;
}

.col-md-12 {
	padding: 80px;
}

.skill {
	text-align: center;
	margin-left: 10px;
	padding: 30px;
}

/*--------------CHARTS--------------------------*/

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
}

.chart .percent {
	color: #fff;
    line-height: 152px;
    display: inline-block;
    font-size: 30px;
    top: 0;
}

.chart .percent:after {
	content: '%';
}

.htmlSkillsH4 { 
	padding: 20px;
	font-size: 40px;
}

.cssSkillsH4 {
	padding: 20px;
	font-size: 40px;
}

.javascriptSkillsH4 {
	padding: 20px;
	font-size: 40px;
}

.csSkillsH4 {
	padding: 20px;
	font-size: 40px;
}

.cppSkillsH4 {
	padding: 20px;
	font-size: 40px;
}

.pythonSkillsH4 {
	padding: 20px;
	font-size: 40px;
}

/*----------------CONTACT-------------------*/

.contactSection{
	color: black;
}

.contactButton {
	color: #2c3e50;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #2c3e50;
    border-radius: 2px;
}

.contactButton:hover {
	text-decoration: none;
	color: white;
	background-color: #2c3e50;
}