body {
  font-size: 10px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}

p {
  font-size: 120%;
}

h1 {
  font-size: 300%;
}

h6 {
  text-decoration-line: underline;
  font-weight: 900;
}

/*-------------------NAVIGATION---------------------*/

#navigation {
  background-color: #000000;
  padding: 20px 10px;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #fff;
  border-radius: 2px;
}
#navigation li {
  padding: 0 10px;
}
#navigation li a {
  color: #fff;
}
.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}
.navbar-toggler-icon {
  background: url("../img/icons/navBar.png");
  background-size: 100%;
}
.fixedNav #navigation {
  position: fixed;
  top: 0;
}

/*-------------------SUPER SLIDES---------------------*/

/* .overlay{
	width: 100%;
	height:100%;
	position: absolute;
	z-index: 3;  Makes the layer 2nd level higher the level will show on top
	background-color: rgba(0, 0, 0, 0.4);
}
.slides-navigation {
	z-index: 6;
}
.slides-navigation .prev,
.slides-navigation .next {
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
}
.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}
.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}
.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}
.heading {
	color: white;
    text-shadow: 8px 2px 5px rgb(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 7px;
} */

/*-------------------ABOUT---------------------*/
section {
  background: white;
  color: grey;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  height: 45rem;
}

.imgMain {
  margin: auto;
  width: 30rem;
  height: 30rem;
}

.imgMain-Grad {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.nameIntro {
  padding: 1.5rem;
  margin: auto;
  width: 40rem;
  height: 30rem;
}

.nameIntro-H {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
}

.nameIntro-P {
  font-size: 2rem;
}

/*--------------SKILLS--------------------------*/

.skillsContainer {
  top: -10rem;
}

.skillsSection {
  background-image: url("../img/squigglesBackground.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}

.col-md-12 {
  padding: 8.5rem;
}

.skill {
  width: 22vw;
  height: 30vw;
  background-color: rgba(0, 0, 0, 0.657);
  text-align: center;
  margin-left: 1rem;
}

.skill h4 {
  position: relative;
  color: #ffffff;
  top: 2vw;
}

.skill p {
  position: relative;
  color: #ffffff;
  top: 2vw;
}

/*--------------CHARTS--------------------------*/

.chart {
  position: relative;
  width: 145px;
  height: 145px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  top: 2vw;
  left: 0;
}

.chart .percent {
  color: #ffffff;
  line-height: 152px;
  display: inline-block;
  font-size: 30px;
  position: relative;
  top: 2vw;
}

.chart .percent:after {
  content: "%";
}

.htmlSkillsH4,
.cssSkillsH4,
.javascriptSkillsH4,
.csSkillsH4,
.cppSkillsH4,
.pythonSkillsH4 {
  padding-top: 30px;
  font-size: 25px;
}

/*----------------CONTACT-------------------*/

.contactSection {
  color: black;
}

.contactButton {
  color: #2c3e50;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #2c3e50;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration: none;
  color: white;
  background-color: #2c3e50;
}
